a/index.html
a/src/css/animacoes.css
a/src/css/fontes.css
a/src/css/reset.css
a/src/css/variaveis.css
a/src/fontes/PILOT_COMMAND.otf
a/src/fontes/SSF4_ABUKET.woff
a/src/imagens/1cYrMYF.gif
a/src/imagens/bg-mobile.jpg
a/src/imagens/capitao-america.jpg
a/src/imagens/capitao-america.png
a/src/imagens/doutor-doom.jpg
a/src/imagens/doutor-doom.png
a/src/imagens/fenix.jpg
a/src/imagens/fenix.png
a/src/imagens/homem-de-ferro.jpg
a/src/imagens/homem-de-ferro.png
a/src/imagens/hulk.jpg
a/src/imagens/hulk.png
a/src/imagens/nova.jpg
a/src/imagens/nova.png
a/src/imagens/thor.jpg
a/src/imagens/thor.png
a/src/imagens/ultron.jpg
a/src/imagens/ultron.png
a/src/imagens/viuva-negra.jpg
a/src/imagens/viuva-negra.png
